# dependencias
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# producción
/build

# variables de entorno (nunca subir la API key)
.env
.env.local
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sistema operativo
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
next-env.d.ts
